# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Vendor 编译中间产物
Vendor/OpenCVBuild/

# Logs
log/
*.log
